/* ============================================================================
   ALTERNATIVE FUNDS / FONDS ALTERNATIFS - Styles 1:1 Rivemont
   ============================================================================ */

.template-fonds-page-container .section-hero {
  background-color: #184068;
  display: block;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  position: relative;
}

.template-fonds-page-container .section-hero .content {
  background-color: #0f2140;
  border-radius: 0 0 24px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: none;
  min-height: 100vh;
  padding: max(235px, 16.3020833333vw) 14px;
  position: relative;
  text-align: start;
  width: 100%;

  @media only screen and (min-width: 768px) {
    border-radius: 0 0 max(50px, 3.6458333333vw) max(50px, 3.6458333333vw);
    padding-left: 35px;
    padding-right: 35px;
  }

  @media only screen and (min-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media only screen and (min-width: 1600px) {
    padding-left: 8.59375vw;
    padding-right: 8.59375vw;
  }
}

.template-fonds-page-container .section-hero .content:after {
  background: linear-gradient(180deg, #184068, transparent);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  mix-blend-mode: multiply;
  opacity: 0.47;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.template-fonds-page-container .section-hero .content .title {
  color: #fff;
  font-family: peridot-pe-variable, sans-serif;
  font-size: max(32px, 3.90625vw);
  font-style: normal;
  font-weight: 700;
  line-height: 1.04em;
  margin: 0 0 max(40px, 4.53125vw);
  position: relative;
  text-align: center;
  text-transform: none;
  width: 100%;
  z-index: 3;
}

.template-fonds-page-container .section-hero .content .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 0 -16px;
  position: relative;
  text-align: start;
  width: 100%;
  z-index: 3;

  @media only screen and (min-width: 768px) {
    margin: 0 0 max(-36px, -2.5vw) max(-18px, -1.25vw);
    width: calc(100% + max(36px, 2.5vw));
  }
}

.template-fonds-page-container .section-hero .content .links .link-holder {
  box-sizing: border-box;
  margin: 0 0 max(16px, 2.5vw);
  padding: 0;
  width: 100%;

  @media only screen and (min-width: 768px) {
    margin-bottom: max(36px, 2.5vw);
    padding: 0 max(18px, 1.25vw);
    width: 33.333%;
  }
}

.template-fonds-page-container .section-hero .content .links .link-holder .link {
  align-items: center;
  border: 1px solid #fff;
  border-radius: max(15px, 1.0416666667vw);
  box-sizing: border-box;
  color: #fff;
  display: inline-flex;
  font-family: peridot-pe-variable, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  justify-content: center;
  line-height: 1.3em;
  height: max(73px, 6.9270833333vw);
  min-width: 0;
  padding: max(15px, 1.0416666667vw);
  text-align: center;
  text-decoration: none;
  transition: transform 0.35s ease;
  width: 100%;

  @media only screen and (min-width: 768px) {
    font-size: max(22px, 1.5625vw);
  }
}

.template-fonds-page-container .section-hero .content .links .link-holder .link:hover {
  transform: scale(0.95);
}

.template-fonds-page-container .section-hero img.gl-responsive-background {
  bottom: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
