/* ============================================================================
   BECOME-CLIENT / DEVENIR-CLIENT PAGE - Styles Pixel Perfect 1:1 identiques à rivemont.ca
   ============================================================================ */

/* Template Form Page Container - Conteneur principal */
.template-form-page-container {
  margin-bottom: max(80px, 13.0208333333vw);
}

/* Hero Section - Identique à Rivemont */
.template-part-hero {
  margin-bottom: max(80px, 6.25vw);
  
  @media only screen and (max-width: 1189px) {
    margin-bottom: 40px;
  }
  
  .content {
    background-color: #51b2d6;
    border-radius: 0 0 24px 24px;
    box-sizing: border-box;
    display: flex;
    height: max(300px, 28.28125vw);
    justify-content: center;
    overflow: hidden;
    padding: max(160px, 13.5416666667vw) 14px max(60px, 5.2083333333vw);
    position: relative;
    
    @media only screen and (min-width: 768px) {
      padding-left: 35px;
      padding-right: 35px;
      border-radius: 0 0 max(50px, 3.6458333333vw) max(50px, 3.6458333333vw);
    }
    
    @media only screen and (min-width: 1280px) {
      padding-left: 80px;
      padding-right: 80px;
    }
    
    @media only screen and (min-width: 1600px) {
      padding-left: 8.59375vw;
      padding-right: 8.59375vw;
    }
    
    /* Gradient overlay - Identique à Rivemont */
    &:after {
      background: linear-gradient(180deg, #184068, transparent);
      content: "";
      display: block;
      height: 100%;
      left: 0;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 5;
    }
    
    .title {
      color: #fff;
      font-family: peridot-pe-variable, sans-serif;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.04em;
      position: relative;
      text-align: center;
      text-transform: none;
      z-index: 6;
      
      @media only screen and (min-width: 768px) {
        font-size: max(45px, 3.125vw);
      }
    }
    
    img.gl-responsive-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }
  }
}

/* Section Form */
.template-form-page-container .section-form {
  box-sizing: border-box;
  padding-left: 14px;
  padding-right: 14px;
  
  @media only screen and (min-width: 768px) {
    padding-left: 35px;
    padding-right: 35px;
  }
  
  @media only screen and (min-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  @media only screen and (min-width: 1600px) {
    padding-left: 8.59375vw;
    padding-right: 8.59375vw;
  }
  
  .content {
    .title {
      color: #184068;
      font-family: peridot-pe-variable, sans-serif;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 1.04em;
      margin-bottom: max(40px, 2.6041666667vw);
      text-align: center;
      text-transform: none;
      
      @media only screen and (min-width: 768px) {
        font-size: max(40px, 3.3854166667vw);
      }
    }
  }
}

/* Content Container */
.content-container {
  box-sizing: border-box;
}

/* Form Wrapper */
.form-wrapper {
  box-sizing: border-box;
}
