/* ============================================================================
   FIRM-PROFILE / PROFIL-DE-LA-FIRME PAGE - Styles Pixel Perfect 1:1 identiques à rivemont.ca
   ============================================================================ */

/* Template About Page Container */
/* Le padding-top est maintenant géré globalement par main#main-content */
.template-about-page-container {
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  overflow-x: hidden;
}

/* Template Part Desc Image Reverse - Ajustements spécifiques Firm Profile */
/* Le padding-top est maintenant géré globalement par main#main-content */
.template-about-page-container .template-part-desc-image--reverse {
  margin-bottom: max(120px, 8.5416666667vw);
  margin-top: 0;
  padding-top: 0; /* Le padding-top est géré par main#main-content */
  padding-left: 14px;
  padding-right: 14px;
  
  @media only screen and (min-width: 768px) {
    margin-bottom: max(140px, 10.0520833333vw);
    padding-left: 35px;
    padding-right: 35px;
  }
  
  @media only screen and (min-width: 1280px) {
    padding-left: 80px;
    padding-right: 80px;
  }
  
  @media only screen and (min-width: 1600px) {
    padding-left: 8.59375vw;
    padding-right: 8.59375vw;
  }
  
  @media only screen and (max-width: 767px) {
    margin-bottom: 80px;
  }
  
  .content {
    padding-top: 0;
    .col:first-child {
      .description {
        h1 {
          color: #184068;
          font-family: peridot-pe-variable, sans-serif;
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 1.04em;
          margin-bottom: max(24px, 2.34375vw);
          margin-top: 0;
          text-transform: none;
          
          @media only screen and (min-width: 768px) {
            font-size: max(45px, 3.90625vw);
            line-height: 1.04em;
          }
        }
        
        p {
          color: #184068;
          font-family: peridot-pe-variable, sans-serif;
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: 22.1px;
          margin-bottom: max(20px, 1.3020833333vw);
          text-transform: none;
          
          @media only screen and (min-width: 768px) {
            font-size: max(17px, 1.0416666667vw);
            line-height: max(22.1px, 1.3802083333vw);
          }
          
          &:last-child {
            margin-bottom: 0;
          }
        }
        
        ul {
          margin-top: max(20px, 1.3020833333vw);
          margin-bottom: max(20px, 1.3020833333vw);
          padding-left: max(20px, 1.3020833333vw);
          
          li {
            color: #184068;
            font-family: peridot-pe-variable, sans-serif;
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 22.1px;
            margin-bottom: max(12px, 0.78125vw);
            text-transform: none;
            
            @media only screen and (min-width: 768px) {
              font-size: max(17px, 1.0416666667vw);
              line-height: max(22.1px, 1.3802083333vw);
            }
            
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        
        strong {
          font-weight: 700;
        }
      }
      
      .button-holder {
        margin-top: max(40px, 2.6041666667vw);
        
        @media only screen and (min-width: 768px) {
          margin-top: max(50px, 2.6041666667vw);
        }
      }
    }
  }
}

/* Section CTA - Clone 1:1 de Rivemont */
/* Les styles sont maintenant gérés globalement dans src/styles.scss */
/* Cette section utilise les styles globaux de .section-cta */
